body{background-color: #bebebe;}
*{
    border: black solid 1px;
}
#worldGrid > div{
    display: flex;
    flex-direction: row;
}
p{
    margin: 1px;
}
.col > div{
    border: black solid 2px;
    height: 60px;
    width: 60px;
}
#resources{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}
#GridUiStuff{
    display: flex;
    width: 100%;
    flex-direction: row;
}
#GridUiStuff > *{
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}
#GridUiStuff > * > p{
    background-color: #8cbe8c;
    font-size: 30px;
}
#chatBox{
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    width: 400px;
    height: 200px;
    background-color: #484848;
}
#chatBox > div{
    display: flex;
    align-content: stretch;
    width: 100%;

}
#chatDisplay{
    display: flex;
    overflow: hidden;
    align-items: start;
    flex-direction: column;
    width: 100%;
    max-height: 90%;
}
#chatDisplay > p{
    color: white;
}
#txtInput{
    width: 86%;
    background-color: #484848;
    color: white;
    border: dimgray 2px solid
}
#txtSubmit{background-color: #484848; color: white; border: dimgray 2px solid}
#exchange{
    width: 300px;
    height: 300px;
}
#openMarket{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 300px;
}
#createDeal{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 300px;
}
#resourceType{
    width: 100px;
}
#trading{
    background-color: whitesmoke;
}